scope: {{ cluster_name }}
name: {{ inventory_hostname }}

etcd3:
  hosts: {{ etcd_host }}:2379

postgresql:
  listen: "{{ ansible_host }}:5432"
  connect_address: "{{ ansible_host }}:5432"
  data_dir: "{{ patroni_data_dir }}"
  bin_dir: /usr/pgsql-{{ postgresql_version }}/bin
  authentication:
    superuser:
      username: postgres
      password: postgres
    replication:
      username: replicator
      password: replicator_pass
  parameters:
    wal_level: replica
    hot_standby: "on"
    max_wal_senders: 10
    wal_keep_size: 64MB
    archive_mode: "on"
    archive_command: 'true'

bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    postgresql:
      use_pg_rewind: true
      parameters:
        synchronous_commit: "on"
  initdb:
    - encoding: UTF8
    - locale: en_US.UTF-8
    - data-checksums
  users:
    replicator:
      password: replicator_pass
      options:
        - replication
        - login
